<h1>{{{LANG_PAGE_HEADER}}}</h1>

	<ul id="composerContextMenu"  class="context-menu">
		<li id="replaceImage" class="bi-image"> {{{LANG_REPLACE_IMAGE}}}</li>
		<li id="duplicate" class="bi-copy">{{{LANG_DUBLICATE}}}</li>
		<li id="delete" class="bi-trash">{{{LANG_DELETE}}}</li>
		{{#is_selectable}}
		<li>
			<hr />
		</li>
			<li id="toggleLock"><span id="lock" class="bi-lock"> {{{LANG_LOCK}}}</span><span id="unlock" class="bi-unlock"> {{{LANG_UNLOCK}}}</span></li>
		<!--	<li id="toggleSelectable"><span id="unselectable" class="bi-hand-index"> {{{LANG_UNSELECTABLE}}}</span><span id="selectable" class="bi-hand-thumbs-down"> {{{LANG_SEELCTABLE}}}</span></li>
-->
{{/is_selectable}}
		<li>
			<hr />
		</li>
		<li id="moveBackground" class="bi-back">{{{LANG_MOVE_BACKGROUND}}}</li>
		<li id="moveBack" class="bi-arrow-down">{{{LANG_MOVE_BACK}}}</li>
		<li id="moveFront" class="bi-arrow-up">{{{LANG_MOVE_FRONT}}}</li>
		<li id="moveForeground" class="bi-front">{{{LANG_MOVE_FOREGROUND}}}</li>
	</ul>

{{> media_selector}}
<dialog id="mediaSelectorDialog">
	<header>
		<span class="dialog-name"></span>
		<button id="closeEditMediaDialog" class="close-button bi bi-x" aria-label="Close"></button>
	</header>
	<section id="mediaSelectorInstance"></section>
	<footer>
		<button id="addMedia" type="button">{{{LANG_ADD_MEDIA}}}</button>
		<button id="applyMedia" type="button">{{{LANG_APPLY_MEDIA}}}</button>
		<button id="closeDialogButton" type="button">{{{LANG_CANCEL}}}</button>
	</footer>
</dialog>

<ul id="canvas_toolbar">
    <li id="inserts">
        <ul class="action-group" data-label="{{{LANG_INSERT}}}">
            <li>
                <button id="insertImage" class="bi bi-image" title="{{{LANG_INSERT_IMAGE}}}"></button>
            </li>
            <li>
                <button id="insertText" title="{{{LANG_INSERT_TEXT}}}">Aa</button>
            </li>
            <li class="template_edit_dropdown">
                <button class="svg_button" title="{{{LANG_INSERT_SHAPE}}}" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 512 512">
                        <path style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px;" d="M336 320L32 320L184 48L336 320z" />
                        <path d="M265.32,194.51A144,144,0,1,1,192,320" style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px;" />
                    </svg>
                </button>
                <div class="template_edit_dropdown_content" style="padding:20px;">
                    <div style=" display: flex; justify-content:space-between; align-items: center; gap:20px;">
                        <button id="insertCircle" class="bi bi-circle-fill" title="{{{LANG_INSERT_CIRCLE}}}"></button>
                        <button id="insertTriangle" class="bi bi-triangle-fill" title="{{{LANG_INSERT_TRIANGLE}}}"></button>
                        <button id="insertRectangle" class="bi bi-square-fill" title="{{{LANG_INSERT_RECTANGLE}}}"></button>
                    </div>
                    <div style=" display: flex; justify-content:space-between; align-items: center; gap:20px; margin-top:20px;">
                        <button id="insertPolygon"  class="bi bi-pentagon-fill" title="{{{LANG_INSERT_PENTAGONE}}}"></button>
                        <button id="insertHexagon" class="bi bi-hexagon-fill" title="{{{LANG_INSERT_HEXAGON}}}">
                        </button>
                        <button id="insertOctagon" class="bi bi-octagon-fill" title="{{{LANG_INSERT_OCTAGON}}}"></button>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li id="undo_redo">
        <ul class="action-group" data-label="{{{LANG_HISTORY}}}">
            <li>
                <button id="undo" class="bi bi-arrow-counterclockwise" title="{{{LANG_UNDO}}}"></button>
            </li>
            <li>
                <button id="redo" class="bi bi-arrow-clockwise"  title="{{{LANG_REDO}}}"></button>
            </li>
        </ul>
    </li>
    <li id="properties">
		<ul id="globalProperties" class="action-group" style="display:none;">
			<li class="template_edit_dropdown">
				<button id="object_opacity_btn" class="bi bi-transparency" title="{{{LANG_OPACITY}}}"></button>
				<div class="template_edit_dropdown_content" style="width:240px;padding:20px;">
					<label for="opacity">
						{{{LANG_OPACITY}}}
					</label>
					<div style="display: flex; justify-content:space-between; align-items: center;">
						<input id="opacity" style="width:150px;" type="range" min="0" max="100" value="100">
						<span id="opacityDisplay">100</span>%
					</div>
				</div>
			</li>
			<li class="template_edit_dropdown">
				<button id="object_shadow" class="bi bi-shadows" title="{{{LANG_SHADOW}}}"></button>
				<div class="template_edit_dropdown_content" style="padding:20px;">
					<div style=" display: flex; justify-content:space-between; align-items: center;">
						<div style="display:flex; flex-direction:column;">
							<label for="shadowColor">{{{LANG_SHADOW_COLOR}}}</label>
							<input id="shadowColor" style="width:50px; text-align:center;" type="color" value="#ccccc">
						</div>
						<div style="display:flex; flex-direction:column; padding:20px;">
							<label for="shadowOffsetX">{{{LANG_SHADOW_OFFSET_X}}}</label>
							<input id="shadowOffsetX" style="width:70px; text-align:center;" type="number" value="0">
						</div>
						<div style="display:flex; flex-direction:column; padding:20px;">
							<label for="shadowOffsetY">{{{LANG_SHADOW_OFFSET_Y}}}</label>
							<input id="shadowOffsetY" style="width:70px; text-align:center;" type="number" value="0">
						</div>
						<div style="display:flex; flex-direction:column; padding:20px;">
							<label for="shadowBlur">{{{LANG_SHADOW_BLUR}}}</label>
							<input id="shadowBlur" style="width:70px; text-align:center;" type="number" value="0">
						</div>
						<div style="display:flex; flex-direction:column; align-items: flex-end; padding:20px;">
							<button id="createShadow" class="bi bi-plus-circle-dotted" style="height:35px;width:35px;margin-top:20px;" title="{{{LANG_SHADOW_CREATE}}}"></button>
							<button id="deleteShadow" class="bi bi-trash" style="height:35px;width:35px;margin-top:20px;" title="{{{LANG_SHADOW_DELETE}}}"></button>
						</div>
					</div>
				</div>
			</li>
			<li class="template_edit_dropdown">
				<button id="object_align" class="bi bi-align-middle" title="{{{LANG_ALIGN_OBJECT}}}"></button>
				<div class="template_edit_dropdown_content" style="width:180px; padding:0 20px 20px 20px;">
					<p>{{{LANG_ALIGN_OBJECT}}}</p>
					<div style=" display: flex; justify-content:space-between; align-items: center; gap:20px;">
						<button id="alignLeft" class="bi bi-align-start" title="{{{LANG_ALIGN_LEFT}}}"></button>
						<button id="alignCenter" class="bi bi-align-center" title="{{{LANG_ALIGN_CENTER}}}"></button>
						<button id="alignRight" class="bi bi-align-end"	title="{{{LANG_ALIGN_RIGHT}}}"></button>
					</div>
					<div style=" display: flex; justify-content:space-between; align-items: center; gap:20px; margin-top:20px;">
						<button id="alignTop" class="bi bi-align-top" title="{{{LANG_ALIGN_TOP}}}"></button>
						<button id="alignMiddle" class="bi bi-align-middle" title="{{{LANG_ALIGN_MIDDLE}}}"></button>
						<button id="alignBottom" class="bi bi-align-bottom"  title="{{{LANG_ALIGN_BOTTOM}}}"></button>
					</div>
				</div>
			</li>
			<li class="action-group" data-label="{{{LANG_OUTLINE}}}">
				<input type="color" id="strokeColor" class="color_button" title="{{{LANG_OUTLINE_COLOR}}}" />
				<div class="template_edit_dropdown">
					<button id="object_outline" class="svg_button" title="{{{LANG_OUTLINE_STRENGTH}}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 500 500" xml:space="preserve">
						<g>
							<g transform="translate(-250.000000,262.000000) scale(0.100000,-0.100000)">
								<path
										d="M2446.9,1109V716.2h2155.5H6758V323.4V-69.4h392.8h392.8v785.6v785.6H4995.2H2446.9V1109z" />
								<path
										d="M2446.9,122.2V-69.4h1762.7h1762.8V-376v-306.6h201.2h201.2v498.2v498.2H4410.8H2446.9V122.2z" />
								<path
										d="M6710.1-893.3l-132.2-134.1l99.6-101.5c55.6-55.6,99.6-107.3,99.6-115s-90.1-13.4-201.2-13.4h-201.2V-1449v-191.6h214.6H6804l-113-115l-115-115l139.9-139.9l138-138l348.7,350.6l350.6,348.7l-344.9,344.9c-189.7,189.7-348.7,344.9-354.5,344.9C6848-759.2,6782.9-818.6,6710.1-893.3z" />
								<path d="M2446.9-1449v-191.6h191.6h191.6v191.6v191.6h-191.6h-191.6V-1449z" />
								<path d="M3232.5-1449v-191.6h191.6h191.6v191.6v191.6h-191.6h-191.6V-1449z" />
								<path d="M4018-1449v-191.6h191.6h191.6v191.6v191.6h-191.6H4018V-1449z" />
								<path d="M4803.6-1449v-191.6h191.6h191.6v191.6v191.6h-191.6h-191.6V-1449z" />
								<path d="M5589.2-1449v-191.6h191.6h191.6v191.6v191.6h-191.6h-191.6V-1449z" />
							</g>
						</g>
					</svg>
				</button>
				<div class="template_edit_dropdown_content" style="width:240px; padding:20px">
					<label for="strokeWidth">
						{{{LANG_OUTLINE_STRENGTH}}}
					</label>
					<div style="display: flex; justify-content:space-between; align-items: center;">
						<input id="strokeWidth" style="width:150px;" type="range" min="0" max="50" value="0">
						<span id="strokeWidthDisplay">0</span> px
					</div>
				</div>
			</div>
			</li>
            <li class="action-group" data-label="{{{LANG_SCALING}}}">
                <input type="number" id="scaleX" class="scaler" style="width:70px" min="0.1" max="10" step="0.1" title="{{{LANG_SCALE_X}}}" />
                <input type="number" id="scaleY" class="scaler" style="width:70px" min="0.1" max="10" step="0.1" title="{{{LANG_SCALE_Y}}}" />
            </li>
            <li>
                <input type="color" id="fillColor" class="color_button" style="display: none;" title="{{{LANG_SELECT_COLOR}}}" />
            </li>
            <li>
                <ul id="textProperties" class="action-group" style="display:none;" data-label="{{{LANG_TYPOGRAPHY}}}">
                    <li class="template_edit_dropdown">
                        <button id="fontFamily" style="font-size:0.7rem; width:150px; overflow: hidden;">
                            {{{LANG_FONT_FAMILY}}}
                        </button>
                        <div id="fontsDropdown" class="template_edit_dropdown_content" style="width:200px; height: 350px; overflow-y:auto;">
                            <!--                <div style="display:flex; justify-content:center; align-items:center; gap:10px;">
                        {{{LANG_UPLOAD_FONT}}}
                        <label class="template_edit_dropdown_file_input">
                            <input type="file" id="upload_font" style="display: none;" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 512 512">
                                <path
                                    d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z" />
                            </svg>
                        </label>
                    </div>
    -->
                        </div>
                    </li>
                    <li>
                        <button id="textAlign" class="svg_button" title="{{{LANG_ALIGN_TEXT}}}">
                            <i id="left" class="bi bi-justify-left"></i>
                            <i id="center" class="bi bi-justify"></i>
                            <i id="right" class="bi bi-justify-right"></i>
                        </button>
                    </li>
                    <li>
                        <button id="textBold" name="bold" class="bi bi-type-bold" title="{{{LANG_BOLD}}}"></button>
                    </li>
                    <li>
                        <button id="textItalic" name="italic" class="bi bi-type-italic" title="{{{LANG_ITALIC}}}"></button>
                    </li>
                    <li>
                        <button id="textUnderline" name="underline" class="bi bi-type-underline" title="{{{LANG_UNDERLINE}}}"></button>
                    </li>
                    <li>
                        <input style="width: 64px" type="number" id="fontSize" min="1" title="{{{LANG_FONT_SIZE}}}"/>
                    </li>
                </ul>
            </li>
        </ul>
	</li>
	<li>
		<ul id="group_properties" class="action-group">
			<li>
				<button id="object_group" style="display: none;" title="{{{LANG_GROUP_UNGROUP}}}">
					<svg id="group" xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 512 512">
						<path fill="currentColor" d="M480 128V96h20c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v20H64V44c0-6.627-5.373-12-12-12H12C5.373 32 0 37.373 0 44v40c0 6.627 5.373 12 12 12h20v320H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-20h384v20c0 6.627 5.373 12 12 12h40c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-20V128zM96 276V140c0-6.627 5.373-12 12-12h168c6.627 0 12 5.373 12 12v136c0 6.627-5.373 12-12 12H108c-6.627 0-12-5.373-12-12zm320 96c0 6.627-5.373 12-12 12H236c-6.627 0-12-5.373-12-12v-52h72c13.255 0 24-10.745 24-24v-72h84c6.627 0 12 5.373 12 12v136z" />
					</svg>
					<svg id="ungroup" xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 576 512">
						<path fill="currentColor" d="M64 320v26a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6v-52a6 6 0 0 1 6-6h26V96H6a6 6 0 0 1-6-6V38a6 6 0 0 1 6-6h52a6 6 0 0 1 6 6v26h288V38a6 6 0 0 1 6-6h52a6 6 0 0 1 6 6v52a6 6 0 0 1-6 6h-26v192h26a6 6 0 0 1 6 6v52a6 6 0 0 1-6 6h-52a6 6 0 0 1-6-6v-26H64zm480-64v-32h26a6 6 0 0 0 6-6v-52a6 6 0 0 0-6-6h-52a6 6 0 0 0-6 6v26H408v72h8c13.255 0 24 10.745 24 24v64c0 13.255-10.745 24-24 24h-64c-13.255 0-24-10.745-24-24v-8H192v72h-26a6 6 0 0 0-6 6v52a6 6 0 0 0 6 6h52a6 6 0 0 0 6-6v-26h288v26a6 6 0 0 0 6 6h52a6 6 0 0 0 6-6v-52a6 6 0 0 0-6-6h-26V256z" />
					</svg>
				</button>
			</li>
		</ul>
    </li>
    <li style="margin-left: auto;">
        <ul class="action-group">
			<li>
				<select id="snapToGrid" title="{{{LANG_SNAP_TO_GRID}}}">
					<option value="0">{{{LANG_NO_GRID}}}</option>
					<option value="5">5 px</option>
					<option value="10">10 px</option>
					<option value="20">20 px</option>
					<option value="50">50 px</option>
				</select>
			</li>
           <li>
                <label>
                    <input type="number" id="imageWidth" value="1920" step="1" min="0" style="width:80px;" title="{{{LANG_RESOLUTION}}}"> x
                    <input type="number" id="imageHeight" value="1080" step="1" min="0" style="width:80px;" title="{{{LANG_RESOLUTION}}}">
                </label>
            </li>
            <li style="display: flex; justify-content: center; gap:4px; align-items:center;">
                <input type="range" min="20" max="500" value="100" step="5" id="zoomSlider" title="{{{LANG_ZOOM}}}">
                <span id="zoomPercent"></span>
            </li>
			{{#save_formats}}
			<li class="action-group" data-label="{{{LANG_EXPORT_FORMAT_AND_QUALITY}}}">
				<select id="exportFormat" title="{{{LANG_FORMATS}}}">
					{{#formats}}
						<option value="{{{FORMAT}}}">{{{LANG_FORMAT}}}</option>
					{{/formats}}
				</select>
				<input type="number" id="exportQuality" min="10" max="100" step="1" value="90" title="{{{LANG_IMAGE_QUALITY}}}">
            </li>
			{{/save_formats}}
			<li>
                <button id="save" title="{{{LANG_SAVE}}}"><i class="bi bi-floppy"></i></button>
            </li>
			{{#reset}}
			<li>
				<button id="reset" title="{{{LANG_RESET}}}"><i class="bi bi-arrow-repeat"></i></button>
            </li>
			{{/reset}}
            <li>
                <button id="close" title="{{{LANG_CLOSE}}}"><i class="bi bi-box-arrow-in-right"></i></button>
            </li>
        </ul>
    </li>
</ul>

<div id="canvasWrap" tabIndex="1000" style="width:100%;height:93%;padding:0.5%;overflow:hidden;">
	<input type="hidden" id="template_id" value="{{{TEMPLATE_ID}}}">
	{{#is_playlist_item}}
	<input type="hidden" id="item_id" value="{{{ITEM_ID}}}">
	<input type="hidden" id="playlist_id" value="{{{PLAYLIST_ID}}}">
	{{/is_playlist_item}}
    <canvas id="canvas" style="box-shadow: 0 2px 6px 0 #666, 0 2px 6px 0 #666;"></canvas>
</div>
<script>
    let lang = {
		"confirm_close": "{{{LANG_CONFIRM_CLOSE_EDITOR}}}",
		"confirm_reset": "{{{LANG_CONFIRM_RESET}}}",
		"add_image": "{{{LANG_INSERT_IMAGE}}}",
		"replace_image": "{{{LANG_REPLACE_IMAGE}}}"
	};
</script>

