.results-listing li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-listing .name {width:45%;}
.results-listing .UID {width:15%;}
.results-listing .type {width:10%;}
.results-listing .used {width:15%;}
.results-listing .results-body .playlist_id {text-align: right;}
.results-listing .actions {width:5%;min-width:7rem;}

.context-menu .delete-template{border-top: 1px solid #e0e0e0;margin-top: 4px;padding-top: 8px;color: #d32f2f;}